.movie {
  &--loader {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
.moviesdetails__container {
  padding: 0 2rem !important;
  @media (min-width: 850px) {
    padding: 0 4rem !important;
  }
  @media (min-width: 950px) {
    padding: 0 12rem !important;
  }
  @media (min-width: 1440px) {
    padding: 0 16rem !important;
  }
  @media (min-width: 1600px) {
    padding: 0 20rem !important;
  }
  @media (min-width: 1800px) {
    padding: 0 30rem !important;
  }
  @media (min-width: 2000px) {
    padding: 0 50rem !important;
  }
}
